- name: Habilitar IP forwarding permanente en Debian
  ansible.builtin.lineinfile:
    path: /etc/sysctl.conf
    regexp: '^net.ipv4.ip_forward='
    line: 'net.ipv4.ip_forward=1'
    create: yes
  when: ansible_distribution == "Debian"

- name: Recargar sysctl en Debian
  ansible.builtin.command: sysctl -p
  when: ansible_distribution == "Debian"

- name: Instalar iptables y iptables-persistent en Debian
  ansible.builtin.apt:
    name:
      - iptables
      - iptables-persistent
    state: present
    update_cache: yes
  environment:
    DEBIAN_FRONTEND: noninteractive
  when: ansible_distribution == "Debian"

- name: Configurar SNAT para MariaDB
  ansible.builtin.iptables:
    table: nat
    chain: POSTROUTING
    out_interface: ens3          
    source: 10.0.0.2/32
    jump: MASQUERADE
    state: present
  when: ansible_distribution == "Debian"

- name: Guardar reglas de iptables en Debian
  ansible.builtin.command: netfilter-persistent save
  when: ansible_distribution == "Debian"
